NEXT_PUBLIC_SUPABASE_URL=https://bzhrvxudzidvntjzbanw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6aHJ2eHVkemlkdm50anpiYW53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDY0MzYsImV4cCI6MjA5NTAyMjQzNn0.f4EGOOIfXfmhvffn_bW3dNWK_6-8YZsKfM4mzl27iyc
